
# VS
*.suo

# merge artifacts
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*.orig

# ReSharper
_ReSharper.*
*.ReSharper
*.user

#dotCover
*.dotCover

/JsHarness/[Aa]pp_[Dd]ata
/JsHarness/obj
/JsHarness/bin
